{{>header}}

<div class="main-content">
  <p>Use this site to get your weather!</p>
  <form>
    <input type="text" placeholder="Location">
    <button>Search</button>
  </form>
  <p name="location"></p>
  <p name="summary"></p>
  <p name="temperature"></p>
  <script src="/javascript/app.js"></script>
</div>

{{>footer}}
